{% extends "bootstrap/base.html" %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{title}}</title>
        {% block head %} {{ super() }}
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/index_css.css') }}"
        />
        {% endblock %}
    </head>
    {% block body %} {{ super() }} {% if match == True %}
    <div class="alert alert-primary" role="alert">로그인 성공!</div>
    {% elif match == None %} {% else %}
    <div class="alert alert-danger" role="alert">
        아이디 비밀번호를 확인해주세요!
    </div>
    {% endif %}
    <body class="img js-fullheight">
        <!--여기에다가 작성-->
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center mb-5">
                        <h2 class="heading-section">로그인</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-4">
                        <div class="login-wrap p-0">
                            <form method="POST" action="/" class="signin-form">
                                <div class="form-group">
                                    <input
                                        type="text"
                                        class="form-control"
                                        name="ID"
                                        placeholder="Username"
                                        required
                                    />
                                </div>
                                <div class="form-group">
                                    <input
                                        id="password-field"
                                        name="PW"
                                        type="password"
                                        class="form-control"
                                        placeholder="Password"
                                        required
                                    />
                                    <span
                                        toggle="#password-field"
                                        class="fa fa-fw fa-eye field-icon toggle-password"
                                    ></span>
                                </div>
                                <div class="form-group">
                                    <button
                                        type="submit"
                                        class="form-control btn btn-primary submit px-3"
                                    >
                                        로그인
                                    </button>
                                </div>
                            </form>
                            <a
                                class="form-control btn btn-primary submit px-3"
                                href="http://localhost:5010/signin"
                                target="_blank"
                            >
                                회원가입
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endblock %}
    </body>
</html>
