{% extends "bootstrap/base.html" %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, minimum-scale=1"
        />
        <title>{{title}}</title>
        {% block head %} {{ super() }}
        <link
            rel="shortcut icon"
            href="{{ url_for('static',filename='images/changuploading.png') }}"
            type="image/x-icon"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static',filename='assets/web/assets/mobirise-icons2/mobirise2.css')}}"
        />
        <link
            rel="stylesheet"
            href="{{
        url_for('static',filename='assets/bootstrap/css/bootstrap.min.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{
        url_for('static',filename='assets/bootstrap/css/bootstrap-grid.min.css')}}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static',filename='assets/bootstrap/css/bootstrap-reboot.min.css')}}"
        />
        <link
            rel="stylesheet"
            href="{{
        url_for('static',filename='assets/animatecss/animate.css')}}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static',filename='assets/socicon/css/styles.css')}}"
        />
        <link
            rel="stylesheet"
            href="{{
        url_for('static',filename='assets/theme/css/style.css')}}"
        />
        <link
            rel="preload"
            href="https://fonts.googleapis.com/css?family=Inter+Tight:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"
            as="style"
            onload="this.onload=null;this.rel='stylesheet'"
        />
        <noscript
            ><link
                rel="stylesheet"
                href="https://fonts.googleapis.com/css?family=Inter+Tight:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"
        /></noscript>
        <link
            rel="preload"
            as="style"
            href="{{ url_for('static',filename='assets/mobirise/css/mbr-additional.css')}}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static',filename='assets/mobirise/css/mbr-additional.css')}}"
            type="text/css"
        />
        {% endblock %}
    </head>
    {% block body %} {{ super() }}
    <body class="img js-fullheight">
        {% if match == False %}
        <div
            id="alertMessage"
            class="alert alert-light text-primary display-5"
            role="alert"
        >
            아이디 비밀번호를 확인해주세요!
        </div>
        {% endif %}

        <script>
            // 2초 후에 알림 메시지를 숨기는 함수
            const hideAlertMessage = () => {
                var alertMessage = document.getElementById("alertMessage");
                if (alertMessage) {
                    alertMessage.style.display = "none";
                }
            };
            // 2초 타이머 설정
            setTimeout(hideAlertMessage, 2000);
        </script>
        <section
            data-bs-version="5.1"
            class="form5 cid-tVSCCV3HoU"
            id="form02-2"
            style="min-height: 100vh"
        >
            <div class="container">
                <div class="mb-5">
                    <img
                        src="{{ url_for('static',
                    filename='images/changuploading.png') }}"
                    />
                </div>
                <div class="row justify-content-center mt-4">
                    <div
                        class="col-lg-8 mx-auto mbr-form"
                        data-form-type="formoid"
                    >
                        <form
                            action="/"
                            method="POST"
                            class="mbr-form form-with-styler"
                            data-form-title="Form Name"
                        >
                            <div class="dragArea row">
                                <div
                                    class="col-md col-sm-12 form-group mb-3"
                                    data-for="name"
                                >
                                    <input
                                        type="text"
                                        name="ID"
                                        placeholder="ID"
                                        data-form-field="id"
                                        class="form-control"
                                        value=""
                                        id="id-form02-2"
                                        required
                                    />
                                </div>
                                <div
                                    class="col-md col-sm-12 form-group mb-3"
                                    data-for="email"
                                >
                                    <input
                                        type="password"
                                        name="PW"
                                        placeholder="PASSWORD"
                                        data-form-field="password"
                                        class="form-control"
                                        value=""
                                        id="pasword-form02-2"
                                        required
                                    />
                                </div>

                                <div
                                    class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn display-3"
                                >
                                    <button
                                        type="submit"
                                        class="btn btn-primary display-2"
                                    >
                                        로그인
                                    </button>
                                </div>
                                <div
                                    class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn"
                                >
                                    <a
                                        type="button"
                                        class="btn btn-primary display-2"
                                        href="/signin"
                                        target="_blank"
                                    >
                                        회원가입
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        {% endblock %}
    </body>
</html>
